:root {
  /* Colors */
  --color-primary: #fff;
  --color-accent: #00d3eb;
  --color-background: #020405;
  --color-font: #fff;
  --color-border-header: var(--color-accent);

  /* Tipography */
  --font-base: "Arial", sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Spaces */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Borders */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --line-sm: 0.5px solid;
  --line-md: 1px solid;
  --line-lg: 2px solid;
  --line-xl: 3px solid;

  /* Media queries */
  --screen-xs: 480px;
  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1280px;

  /* Height */
  --height-header-mobile: 60px;
  --height-header-desktop: 80px;
}
