@use "../../styles/abstracts/variables" as vars;

.detail {
  &-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(600px - var(--height-header-desktop));
    background-color: var(--color-background);

    &__background {
      position: relative;
      overflow: hidden;

      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 96%,
          rgba(0, 0, 0, 1) 100%
        );
        pointer-events: none;
      }
    }

    &__info {
      padding: 0px var(--spacing-lg);
    }

    &__title {
      margin-top: 0px;
      font-family: var(--font-base);
      color: var(--color-primary);
    }

    &__genres {
      margin-bottom: 1.5rem;
    }

    &__buttons {
      margin-top: 2rem;
    }
  }

  &-extra {
    padding: var(--spacing-lg);

    &__title {
      margin-top: 0px;
      font-size: 1.5rem;
      font-family: var(--font-base);
      color: var(--color-primary);
    }
  }

  @media (max-width: vars.$screen-sm) {
    .detail-main {
      grid-template-columns: 1fr;
      &__background {
        height: 600px;

        &::after {
          display: none;
        }
      }

      &__info {
        padding: var(--spacing-lg);
      }
    }
  }
}
